html {
  min-height: 100%; }

body {
  min-height: 100%;
  background: white;
  color: #676772;
  margin: 0;
  padding: 0; }

header {
  background-color: #676772; }
  header .container {
    text-align: center;
    padding: 40px 0; }
    header .container img {
      height: 300px; }
  header h2 {
    margin: 0;
    background-color: #fc8c54;
    padding: 10px 20px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 200;
    color: #FFFFFF; }
  header h1 .what {
    display: none; }
  header h1 .where {
    padding: 6px 12px;
    color: #fc8c54;
    background: #676772;
    border: 3px solid white;
    margin: 0 auto; }

footer {
  height: 160px;
  background: url("../images/stamp.svg") center center no-repeat;
  background-size: auto 150px;
  margin: 50px 0; }

#place-info {
  width: 50%;
  float: left; }

#place-logo {
  width: 50%;
  float: right;
  text-align: center; }
  #place-logo img {
    width: 70%; }

.container {
  max-width: 860px;
  margin: 0 auto; }

section {
  max-width: 860px;
  margin: 0 auto;
  padding: 10px; }

p {
  font-size: 20px;
  text-align: left;
  margin-bottom: 30px;
  line-height: 1.5em; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: teal; }

#next {
  background-color: #676772;
  color: white; }

.term {
  border: solid 2px #676772;
  display: block;
  min-width: 300px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: left; }
  .term .chrome {
    border: solid 2px #676772; }
    .term .chrome .btn {
      border: solid 2px #676772; }
  .term .shell {
    min-height: 130px;
    overflow: hidden; }
  .term .chrome {
    height: 34px;
    padding-left: 4px;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none; }
    .term .chrome:before {
      content: " ";
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .term .chrome .btn {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-radius: 100%; }
  .term .shell {
    padding: 10px;
    color: #777; }
  .term .workshopper {
    background: #F8F0BD;
    padding: 2px; }
    .term .workshopper code {
      border: 0 none; }
  .term code {
    display: block;
    margin: 12px 0;
    padding: 4px 10px;
    border-left: 8px solid #fc8c54;
    font-family: AndaleMono, courier, monospace; }
  .term.max {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: none; }
  .term.min {
    position: absolute;
    bottom: 0; }
    .term.min .shell {
      min-height: 0;
      height: 0;
      padding: 0; }
    .term.min .chrome {
      border: 0 none; }
  .term .chrome .btn.close:hover {
    background: red; }
  .term .chrome .btn.max:hover {
    background: green; }
  .term .chrome .btn.min:hover {
    background: #fc8c54; }

.sign {
  padding: 6px 12px;
  color: #fc8c54;
  background: #676772;
  border: 3px solid white;
  text-transform: uppercase; }
  .sign:before, .sign:after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 40px;
    background: white;
    position: relative;
    top: 55px; }

#next h2 {
  margin-bottom: 80px; }

.button {
  vertical-align: middle; }

.centered {
  text-align: center; }

#logo {
  display: none; }

@media screen and (min-width: 500px) {
  header h1 {
    background-color: #676772;
    padding: 30px; }
    header h1 .where {
      padding: 6px 12px;
      color: #fc8c54;
      background: #676772;
      border: 3px solid white; }
      header h1 .where:before, header h1 .where:after {
        content: "";
        display: inline-block;
        width: 3px;
        height: 60px;
        background: white;
        position: relative;
        top: 80px; }

  #intro .term {
    width: 40%;
    max-width: 500px;
    display: inline-block; }

  .terms {
    text-align: center; }

  #logo {
    float: right;
    height: 150px;
    margin-right: 60px;
    display: block; } }
h2 {
  text-transform: uppercase;
  color: #fc8c54;
  margin-bottom: 5px; }

h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 10px; }

p {
  margin-top: 5px; }

@media screen and (min-width: 700px) {
  div.term ~ div.term {
    margin-left: 50px; } }
